<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>À Faire</title>

  <script src="https://cdn.tailwindcss.com"></script>
  <script id="__bs_script__" src='../config/browser-sync/sync_gc7.js'></script>
</head>

<body>
    {% block content %}
    {% endblock %}
    
  <script src="./resources/assets/js/main.js"></script>

</body>

</html>
