{% extends 'layouts/base.twig' %}
{% block content %}

<h1 class="text-red-500 text-center text-4xl">Priorités</h1>
<main class="w-full flex justify-around">
  <div id="2do">2do</div>
  <div id="done">Done</div>
</main>

{{data}}
{% endblock %}
