{% extends 'layouts/base.twig' %}

{% block content %}

<h1 class="text-red-500 text-center text-4xl italic">Priorités</h1>

<form action="form" method="post">
  <button class="float-right mr-7 text-blue-500 fa-solid fa-square-plus text-7xl"></button>
</form>

<main class="w-full flex justify-around">
  <div id="2do" class="text-4xl text-red-200">À Faire</div>
  <div id="done" class="text-4xl text-red-200">Faites</div>
</main>

<div class="grid grid-cols-2">
  <div class="text-center">
    <h2 class="uppercase font-bold text-gray-700">Les choses à faire</h2>
    {% include '/components/list.twig' with {'todos': todos, 'done': 0} %}

  </div>
  <div class="text-center">
    <h2 class="uppercase font-bold text-gray-700">Les choses faites! (bien joué :) )</h2>
    {% include '/components/list.twig' with {'todos': todos, 'done': 1} %}
  </div>
</div>

{{data}}
{% endblock %}
